/* 
 * DAdolfans  By Losses Don
 * You can use the code under CC BY-SA 3.0. * 
 */
/* 
    Created on : Jul 8, 2014, 7:01:06 PM
    Author     : Losses
*/
/* line 15, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000315}}
.border {
  border: 1px solid #bebebe;
}
/* line 19, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000319}}
.border_active {
  border: 1px solid #a8a8a8;
}
/* line 23, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000323}}
.ui {
  border: 1px solid #bebebe;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 1px;
  box-shadow: 0 0 6px #d1d1d1;
}
/* line 34, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000334}}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
/* line 40, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000340}}
body {
  position: realtive;
}
/* line 44, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000344}}
ul {
  list-style: none;
}
/* line 48, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000348}}
li button {
  border: 0;
}
/* line 52, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000352}}
header {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 3;
  -webkit-user-select: none;
}
/* line 66, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000366}}
#main_area {
  left: 50%;
  width: 40em;
  height: -webkit-calc(100% - 70px );
  border: 0;
  padding: 70px 0 0 0;
  margin-left: -20em;
  font: 15px/30px "microsoft yahei";
  position: absolute;
  z-index: 1;
  resize: none;
}
/* line 83, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000383}}
.menu {
  border: 1px solid #bebebe;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 1px;
  box-shadow: 0 0 6px #d1d1d1;
  font: 13px/30px "microsoft yahei";
  padding: 5px;
  position: fixed;
  display: none;
  cursor: default;
  -webkit-user-select: none;
  z-index: 3;
}
/* line 92, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000392}}
.menu .icon {
  width: 34px;
  height: 34px;
  margin: 3px;
}
/* line 97, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\0000397}}
.menu .icon:hover {
  -webkit-filter: brightness(25%);
}
/* line 100, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003100}}
.menu .line {
  width: 168px;
  height: 1px;
  border-top: 1px solid #c1c1c1;
  margin: 0 2px;
  clear: both;
  display: block;
}
/* line 108, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003108}}
.menu li,
.menu a {
  float: left;
}
/* line 113, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003113}}
#menu_main {
  display: none;
}
/* line 117, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003117}}
#menu_content {
  width: 172px;
}
/* line 120, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003120}}
#menu_content #menu_function #copy {
  background: url(../image/copy.png);
}
/* line 123, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003123}}
#menu_content #menu_function #cut {
  background: url(../image/cut.png);
}
/* line 126, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003126}}
#menu_content #menu_function #paste {
  background: url(../image/paste.png);
}
/* line 129, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003129}}
#menu_content #menu_function #pasteApt {
  background: url(../image/pasteapt.png);
}
/* line 135, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003135}}
#menu_content #menu_format #bold {
  background: url(../image/bold.png);
}
/* line 138, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003138}}
#menu_content #menu_format #italic {
  background: url(../image/italic.png);
}
/* line 141, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003141}}
#menu_content #menu_format #code {
  background: url(../image/code.png);
}
/* line 144, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003144}}
#menu_content #menu_format #link {
  background: url(../image/link.png);
}
/* line 148, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003148}}
#menu_content #menu_format #list_style #list_style_heading {
  margin: 0 0 0 20px;
  width: 112px;
  line-height: 35px;
  float: left;
  display: block;
}
/* line 155, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003155}}
#menu_content #menu_format #list_style #heading_list {
  height: 0;
}
/* line 158, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003158}}
#menu_content #menu_format #list_style #follow {
  background: url(../image/following.png);
  float: right;
  display: block;
}
/* line 164, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003164}}
#menu_content #menu_format #list_style ul .list {
  height: 0;
  width: 100%;
  margin: 0 25px;
  overflow: hidden;
  float: none;
  display: block;
}
/* line 174, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003174}}
#menu_content #menu_format #list_list {
  margin: 0 0 0 10px;
  line-height: 40px;
  display: block;
}
/* line 178, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003178}}
#menu_content #menu_format #list_list li {
  width: 70px;
  margin: 0 5px;
}
/* line 186, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003186}}
#counter {
  right: 10px;
  bottom: 10px;
  font: 10px/20px serif;
  color: gray;
  position: fixed;
}
/* line 197, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003197}}
#dialog {
  border: 1px solid #bebebe;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 1px;
  box-shadow: 0 0 6px #d1d1d1;
  left: 50%;
  top: 50%;
  width: 500px;
  margin: -100px 0 0 -250px;
  position: absolute;
  z-index: 5;
  -webkit-user-select: none;
}
/* line 207, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003207}}
#dialog #dialog_title {
  text-align: center;
  margin: 40px 10px 10px 10px;
}
/* line 212, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003212}}
#dialog #dialog_input {
  margin: 10px;
  padding: 5px;
  width: 465px;
  border: 1px solid #bebebe;
  box-shadow: 0 2px 2px #c7c7c7 inset;
}
/* line 220, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003220}}
#dialog #dialog_input:active {
  border: 1px solid #a8a8a8;
}
/* line 224, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003224}}
#dialog #buttons {
  margin: 18px 0 0 0;
  text-align: center;
}
/* line 228, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003228}}
#dialog #buttons button {
  width: 70px;
  height: 30px;
  background: white;
  border: 1px solid #bebebe;
  border-radius: 2px;
}
/* line 236, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003236}}
#dialog #buttons button:hover {
  border: 1px solid #a8a8a8;
}
/* line 240, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003240}}
#dialog #buttons button:active {
  background: #ebebeb;
}
/* line 244, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003244}}
#dialog #buttons .default {
  background: #0066ff;
  color: white;
  border: 1px solid #0050c9;
  text-decoration: bold;
}
/* line 251, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003251}}
#dialog #buttons .default:hover {
  border: 1px solid #0059df;
}
/* line 255, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003255}}
#dialog #buttons .default:active {
  background: #005ce6;
}
/* line 261, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003261}}
.with_input {
  height: 200px;
}
/* line 265, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003265}}
.without_input {
  height: 155px;
}
/* line 269, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003269}}
#dialog > #buttons > #yes,
#dialog > #buttons > #no,
#dialog > #buttons > #cancel,
#dialog > #buttons > #confirm,
#dialog > #dialog_input,
#dialog {
  display: none;
}
/* line 281, F:\Production\DWRite\Dev\DWrite\public_html\style\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/DWRite\/Dev\/DWrite\/public_html\/style\/main\.less}line{font-family:\00003281}}
#open_dialog,
#save_dialog,
#paste_bin {
  display: none;
}
